.border{
    border: 1px solid #eaeaea;
    border-radius: 12px;
}
.preload{
	background: url(../images/preloader.gif) no-repeat center center;
}
.center{
	min-width: 310px; max-width: 800px; margin: 0 auto
}
.block{
	min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto
}
.title{
	margin-bottom: 35px;
}